<style type="text/css" media="screen">
      html {
        height: 100%;
      }

      body {
        text-align:center;
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        background-color: #f0f0f0;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
        height: 100%;
      }

      iframe {
        height: 75%;
        width: 75%;
      }

      .TextHeader {
        width: 75%;
        margin: auto;
      }

      #player {
        height: 100%;
      }

      #lesson-plan {
        height: 100%;
      }

      #title {
        font-size: 64px;
      }

</style>
<h1 align="center" id="Title">Coding Futures</h1>

<div class="TextHeader">
  <h1>
    About Us
  </h1>
  <h3>
    Coding Futures is an alternative career path for when college doesn’t make financial sense. This social enterprise aims to prepare recent high school graduates for entry into the software development industry. We do this through education, mentorship and real-world project application. 
  </h3>
</div>

<div class="plyr__video-embed" id="player">
    <iframe src="https://www.youtube.com/embed/ducVKTkJ3tI" allowfullscreen allowtransparency allow="autoplay"></iframe>
</div>

<h1 id="Title">Sample Lesson Plan</h1>

<div id="lesson-plan">
  <iframe src="https://docs.google.com/document/d/e/2PACX-1vTgb68fjx6RgC88kA-4XNJNbw7St_gOzO3wNSfbovc90oJgcqFqkZTo4UFbVGAu1dqlaPOuaerg9ULO/pub?embedded=true"></iframe>
</div>
